@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Rectangle {
  width: 218px;
  height: 58px;
  margin: 3px 0 0 2px;
  background-color: #33eb23;
}

.My-Strange-button-Stroke {
  width: 192.6px;
  height: 23px;
  padding: 1px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #000;
}
